footer{
    display: flex;
    gap: 24px;
    font: var(--text);
    color: var(--text-color-secondary);
}

footer span:nth-child(1){
    margin-right: auto;
    
}

footer span:nth-child(1) a{
    text-decoration: none;
    color: var(--text-color-secondary);
}